################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HyperText.Avalonia/bin/Debug
/HyperText.Avalonia/obj
